integrations/n8n/workflow.json
{
  "name": "AI Visibility API - Brand Intelligence",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://llmscout.co/api/brand-intelligence",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "brand",
              "value": "Stripe"
            },
            {
              "name": "api_key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-request-001",
      "name": "Brand Intelligence API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "brand_name",
              "value": "Stripe",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "visibility_score",
              "value": "={{ $json.visibility_score }}",
              "type": "number"
            },
            {
              "id": "a3",
              "name": "share_of_voice",
              "value": "={{ $json.share_of_voice }}",
              "type": "number"
            },
            {
              "id": "a4",
              "name": "competitors",
              "value": "={{ $json.competitors }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node-001",
      "name": "Extract Key Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Brand Intelligence API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Intelligence API": {
      "main": [
        [
          {
            "node": "Extract Key Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "1"
}
